body{
background-color: #F4F3F8;
overflow: hidden;
}
#navbarMonstera{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
#navFirst{
    margin-right: 95px;
}
#navMid{
    display: flex;
    margin-right: 40px;
    gap: 55px;
    
}
#navMid > div:first-child {
    text-decoration: underline;
    text-decoration-color: black;
    
  }

#navEnd{
    display: flex;
    margin-right: 25px;
    margin-top: 15px;
    gap: 20px;
}
#midWhole{
    display: flex;
    justify-content: space-between;
    
}
#monstera{
    font-size: 60px;
    font-family: "Allerta";
    margin-top: 120px;
    margin-left: 15px;
}
.para{
    width: 570px;
    line-height: 25px;
    /* margin-left: 15px; */
}
#midWholePart121{
    display: flex;
    padding: 0px 20px;
    border-radius: 60px;
    color:#FFFFFF;
    width: 240px;
    margin-left: 35px;
    background-color: #466D50;
    justify-content: center;
}
#midWholePart122{
    margin-top: 25px;
    margin-left: 10px;
}
#midWholePart13{
    display: flex;
    margin-top: 45px;
}
.midWholePart13Parts{
    display: flex;
    align-items: center;
     gap: 5px; 
    width: 370px;
    
}
.text{
    color: #706F72;
}
#imgMain{
    position: absolute;
    right: 0;
    top: 130px;
    width: 30%;
}